{% extends "cores/base.html" %}

{% block title %}
    Ticket Booking
{% endblock %}

{% block body %}
<div>
    <div class="mt-5">
        <a href="{% url 'royal_ticket' %}" class="mx-2 inline-block font-medium text-sm px-4 py-2 leading-none bg-blue-900 rounded text-white border-white hover:border-transparent hover:text-dark hover:bg-red-700 mt-4 lg:mt-0">ROYAL TICKET</a>
        <a href="{% url 'business_ticket' %}" class="mx-2 inline-block font-medium text-sm px-4 py-2 leading-none bg-blue-900 rounded text-white border-white hover:border-transparent hover:text-dark hover:bg-red-700 mt-4 lg:mt-0">BUSINESS TICKET</a>
        <a href="{% url 'economy_ticket' %}" class="mx-2 inline-block font-medium text-sm px-4 py-2 leading-none bg-blue-900 rounded text-white border-white hover:border-transparent hover:text-dark hover:bg-red-700 mt-4 lg:mt-0">ECONOMY TICKET</a>
    </div>

    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mt-2" role="alert">
                <p class="font-bold">Error!</p>
                <p class="block sm:inline">{{ error }}</p>
            </div>
        {% endfor %}
    {% endif %}

    <h1 class="text-center mt-10 text-3xl font-bold">Business Ticket</h1>
    <h1 class="text-center text-blue-900 mt-10 text-3xl font-bold">Train Coach No : 3 AND 4</h1>
    <div class="bg-white px-3 py-4 rounded-xl my-6">
        <div class="w-full mt-10">
            <form method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                {% csrf_token %}
                {% for hidden_field in form.hidden_fields %} 
                    {{ hidden_field.errors }} 
                    {{ hidden_field }} 
                {% endfor %}
                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full px-3">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="train_name">
                            Train Name
                        </label>
                        {{ form.train_name }}
                    </div>
                    <div class="w-full px-3">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="destination">
                            Destination
                        </label>
                        {{ form.destination }}
                    </div>
                    <div class="w-full px-3">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="coach">
                            Coach
                        </label>
                        {{ form.coach }}
                    </div>
                    <div class="w-full px-3">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="phone_no">
                            Phone Number
                        </label>
                        {{ form.phone_no }}
                    </div>
                    <div class="w-full px-3">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="sit_no">
                            Seat Number
                        </label>
                        {{ form.sit_no }}
                    </div>
                </div>
                <div class="flex items-center justify-between">
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                        Buy Ticket
                    </button>
                </div>
            </form>
        </div>
    </div> 
</div>
{% endblock %}
